<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.6.0" targetFramework="net452" />
  <package id="OpenCover" version="4.6.166" targetFramework="net452" />
  <package id="ReportGenerator" version="2.4.0.0" targetFramework="net452" />
  <package id="Ronin.Common" version="1.0.45.0" targetFramework="net452" />
  <package id="Sendstorm" version="1.0.54.0" targetFramework="net452" />
  <package id="Stashbox" version="1.0.85.0" targetFramework="net452" />
</packages>